# 크롤링 한 파일을 병합하여 데이이터 프레임 생성

 총 87개의 맥주 데이터 
 
 'kloud', 'fitz super clear', 'Asahi super dry', 'Tsingtao', 'Heineken', 'Kirin ichiban', 'Sapporo Premium Beer / Draft Beer', 
 'stella artois', 'guinness braught', '1664 Blanc', 'pilsner urquell', 'San Miguel','OB premier pilsner', 'cass fresh',
 'Hite Black Beer Stout', 'dry finish', 'max hite', 'hite extra cold', 'victoria bitter', 'BINTANG pilsner',
 'krombacher weizen', 'Miller Genuine Draft', 'Hoegaarden Cherry', 'TIGER REDLER',
 "Suntory The Premium Malt's", 'REEPER B Weissbier', 'PEEPER B IPA', 'TIGER BEER',
 'TSINGTAO WHEAT BEER', 'Erdinger Weissbier', 'Carlsberg', 'Budweiser ', 'Hoegaarden',
 'YEBISU', 'Paulaner Hefe-weissbier', 'Desperados', 'Peroni Nastro Azzurro',
 'Edelweiss Snowfresh', 'Heineken Dark Lager', 'Kozel Dark 10', 'Guinness original',
 'Filite', 'SEOULITE ALE', 'JEJU WIT ALE', 'Stephans Brau Philsner', 'Stephans Brau Larger',
 'Stephans Bräu Hefe-Weizen Naturtrüb', 'Apostel Brau',
 'Egger Zwickl', 'Egger Marzenbier', 'Holsten Premium Beer', 'Franzisaner Hefe-Weissbier',
 'Egger Radler Grapefruit', 'Barvaria Premium', 'Barvaria 8.6', 'Lapin Kulta IV A',
 'Grolsch Premium Larger', 'Gambrinus Original', 'XXXX Gold', 'Leffe Brown',
 'Lowenbrau Original', 'Asahi Super dray Black ', 'Harbin Beer', "beck's",
 'Hoegaarden Rosee', 'Platinum White Ale', 'Platinum Pale Ale', 'Ambar Especial Larger',
 'Schöfferhofer Grapefruit', 'Volfas Engelman Grünberger Hefeweizen', 'Berliner Kindl Pilsener ',
 'Red Rock', 'Erdinger Dunkel', 'Warsteiner Premium Verum', "Queen's Ale Blonde Type", 'Terra', 
 'Hite Zero', 'HiteJinro Filite Fresh Cool & Clear', 'Cass Light', 'Happoshu Filgood', 
 'Kloud Draft Original Gravity', 'Hite Beer', '7Bräu Gompyo Wheatbeer', 
 'Moonbear Geumgangsan Golden Ale','Blue Moon Belgian White', 'Heineken Silver', 'Cafri'

In [211]:
import pandas as pd
import numpy as np
import time

import re

In [212]:
# 합친 데이터를 저장할 데이터프레임
data = pd.DataFrame(data=[], columns=['beer_info', '검색이름', 'beer_name', 'beer_review'])

# 수집한 파일의 개수
files_cnt = 87

for i in range(files_cnt):

    # 해당 경로에서 beer_n_1.csv 형식의 파일들만 수집한 뒤 병합합니다.
    try : 
        tmp = pd.read_csv(r'C:\Users\X1Carbon\Desktop\fast_campus\machine_learning\machine_learning_project\beer_review_list\beer_n_'+str(i)+'.csv', index_col=0)
        data = pd.concat([data,tmp])
    # 오류 발생 시 넘어갑니다.
    except :
        print(i, '번째에서 오류가 발생했습니다. 다음 파일로 넘어갑니다.')

# 합친 데이터를 저장합니다.
data.to_csv('beer_crawling_merge.csv', encoding='utf-8')

In [213]:
# 합친 데이터 확인
data = pd.read_csv('beer_crawling_merge.csv', encoding='utf-8', index_col=0)

data = data[['beer_info', 'beer_name', 'beer_review']]

data.head(10)

,beer_info,beer_name,beer_review
0,"italianjohn(5,276)\n🇺🇸Penndel, United States\n...",Kloud Original Gravity,Clear golden blonde pour with a thin white hea...
1,"orda(284)\n🇺🇸Aurora, United States\n3.9August ...",Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...
2,"Radek Kliber(8,065)\n🇨🇦Toronto (Can) Krotoszyn...",Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s..."
3,"geologyguy(2,575)\n🇺🇸Columbia, United States\n...",Kloud Original Gravity,Smell is light of malt...taste is a that malt ...
4,"Wolff90(203)\n🇸🇪Upplands Väsby, Sweden\n1.0Feb...",Kloud Original Gravity,Rating copied from Untappd. Had while flying A...
5,"patjenner(3)\n4.0December 31, 2020\nStrong hop...",Kloud Original Gravity,Strong hoppy flavor. Bavarian style. Ok but no...
6,"pictoman(4,945)\n🇨🇦Vancouver, Canada\n2.0April...",Kloud Original Gravity,Poured from 330mL bottle. Clear gold with whit...
7,"snoworsummer(9,480)\n🇺🇸baltimore, United State...",Kloud Original Gravity,"Bottle. Tastes like dough, corn, grass, smooth..."
8,"mickmac(743)\n🇦🇺Ngunnawal, Australia\n2.9Febru...",Kloud Original Gravity,Pours with a brilliant clear gold body and a m...
9,"GuideDogSaint(3,189)\n🇨🇳Xiamen, China\n2.2Febr...",Kloud Original Gravity,Small can from a supermarket in Phnom Penh. Po...

In [215]:
data.tail(30)

,beer_info,beer_name,beer_review
10,"maxwelldeux(4,373)\n🇺🇸Snohomish, United States...",Cafri,"This is, in fact, beer, which is the best thin..."
11,"FatPhil(23,303)\n🇪🇪Tallinn, Estonia\n1.2May 25...",Cafri,"330ml clear bottle (Anywhere, Suwon)\n\nSweet ..."
12,"AndreasJaeger(505)\n🇸🇪Malmö, Sweden\n1.4Februa...",Cafri,Vattnigt gul i färgen med luftigt vitt skum. T...
13,"Bart(2,934)\n🇧🇪Brussels, Belgium\n2.3September...",Cafri,355ml Canned. Golden blond coloured beer with ...
14,"strap(981)\n🇩🇪Sindelfingen, Germany\n1.9July 1...",Cafri,"Typical Korean beer. Very pale colored, weak o..."
15,"Pyobon(2,468)\n🇦🇺Sydney, Australia\n1.9July 12...",Cafri,(bottle) Poured pale straw with no head. Aroma...
16,"WVHouseofBeer(1,152)\n🇺🇸United States\n1.6Marc...",Cafri,Eh exactly the same as all the other Korean pa...
17,"BaroneBirra(534)\n🇮🇹Gorizia, Italy\n2.3January...",Cafri,"0,33 bottle from Seoul.\nPale gold, very clear..."
18,"Palme(5,036)\n🇳🇴Bergen, Norway\n1.5December 28...",Cafri,"0.33l bottle @ Hyundai Hotel, Ulsan South Kore..."
19,azuritko6(10)\n🇺🇸United States\n3.2December 14...,Cafri,Can. Velmi zaujimavo vonia akoby kvasinkove. v...
20,"KyotoLefty(14,503)\n🇯🇵Kyoto, Japan\n2.0Decembe...",Cafri,"Fresh Bottle. Fruity nose, light malt, some gr..."
21,"Bierkrug(2,129)\n0.7November 18, 2011\n330 ml ...",Cafri,"330 ml bottle picked up in Sulaymaniyah, Iraq...."
22,"SHIG(11,265)\n🇺🇸Hampton, United States\n2.1May...",Cafri,Can: Poured a golden color with a fast evapora...
23,"robforbes(2,437)\n🇺🇸Bremerton, United States\n...",Cafri,one of the better pale lagers in south korea. ...
24,"BelgianBeerGal(5,817)\n🇺🇸Panama City, United S...",Cafri,33cl can in Seoul. Decoration on label makes i...
25,"Wal(5)\n🇩🇪Berlin, Germany\n0.8September 4, 200...",Cafri,Lived in Korea 5 years and I really tried hard...
26,"brewssuds(17)\n🇨🇦Canada\n1.9August 24, 2008\nU...",Cafri,Unremarkable. Pretty generic macro lager (and ...
27,"patrick767(6,028)\n🇺🇸fort wayne, United States...",Cafri,"bottle - Hey, it says this beer inspires young..."
28,"jerryballoono(32)\n🇹🇷Urgup, Turkey\n1.7Decembe...",Cafri,Almost thought my 330ml bottle was off as unus...
29,"ultraspank(867)\n🇵🇹Alverca, Lisboa, Portugal\n...",Cafri,Had this while satisfying the Itis at Hoolala ...
30,"Gethinbeer(2,451)\n🇨🇦Canada\n1.8April 18, 2007...",Cafri,From bottle. When I drank this I must say I th...
31,"Sully(1,380)\n🇦🇺Potts Point, New South Wales, ...",Cafri,Found this in a Korean mini-market in Kuala Lu...
32,"rolickstamp293(14,100)\n🇫🇯Fiji Islands\n1.9Jan...",Cafri,Bottle with 4.2% alc. bought in Seoul. Golden ...
33,"Sanchex(224)\n🇨🇦Toronto, Canada\n1.4September ...",Cafri,"Worst ""premium"" beer I’ve tasted. All marketi..."
34,"larsga(7,693)\n🇳🇴Oslo, Norway\n1.7June 7, 2006...",Cafri,Thin coarse white head over very pale yellow b...
35,"bourne(161)\n🇰🇷Suwon, South Korea\n1.3March 21...",Cafri,I didnt think this was beer when I bought it. ...
36,"curvedbeer(11)\n🇸🇬Singapore\n1.0November 6, 20...",Cafri,Of all of the commercially brewed beers I’ve t...
37,"tomciccateri(1,033)\n🇺🇸Albuquerque, United Sta...",Cafri,"From a can onboard a KAL flight. 4.2%, with no..."
38,"Papsoe(25,039)\n🇩🇰Frederiksberg, Denmark\n2.1J...",Cafri,(Bottle 48 cl) Again - for Korea - this beauti...
39,"MrRomero(1,976)\n🇺🇸Nolanville, United States\n...",Cafri,Probably my favorite Korean beer but not as av...

# 데이터 정보 확인 후 null 값 처리

In [216]:
# 데이터 정보 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83191 entries, 0 to 39
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   beer_info    83191 non-null  object
 1   beer_name    83191 non-null  object
 2   beer_review  83190 non-null  object
dtypes: object(3)
memory usage: 2.5+ MB

# 결측치 확인 
data.isna().sum()

In [221]:
# 결측치 제거
data['beer_review']=data['beer_review'].fillna('no review')

# 'beer_info' 데이터 값 확인 후 \n 문자 기준으로 분리

이때 'beer_info'에 들어있는 리뷰데이터 또한 \n 문자를 기준을 분리되어, 리뷰 데이터는 따로 크롤링 후 join을 통해 합친 데이터를 사용

In [225]:
import pandas as pd

data = pd.read_csv('beer_crawling_merge.csv', encoding='utf-8', index_col=0)

# 맥주정보 Raw 데이터값
data['beer_info'].iloc[0]

'italianjohn(5,276)\n🇺🇸Penndel, United States\n2.8September 6, 2021\nClear golden blonde pour with a thin white head and spots of lacing …. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon … taste is of the same, lemon, little floral, sweet caramel malts, grape and light bitter citrusy hops …. Drinks bigger than a regular lager …. Definitely see the German ingredients in this brew … sessionable little lager\nShow less\nBOTTLE\nAroma\n5\nAppearance\n3\nFlavor\n5\nMouthfeel\n3\nOverall\n12'

In [226]:
# tmp 변수에 카피
tmp = data.copy()

# \n 개행문자 기준으로 분리
tmp['beer_info'] = tmp['beer_info'].str.split('\n')
tmp['beer_info']

0     [italianjohn(5,276), 🇺🇸Penndel, United States,...
1     [orda(284), 🇺🇸Aurora, United States, 3.9August...
2     [Radek Kliber(8,065), 🇨🇦Toronto (Can) Krotoszy...
3     [geologyguy(2,575), 🇺🇸Columbia, United States,...
4     [Wolff90(203), 🇸🇪Upplands Väsby, Sweden, 1.0Fe...
                            ...
35    [bourne(161), 🇰🇷Suwon, South Korea, 1.3March 2...
36    [curvedbeer(11), 🇸🇬Singapore, 1.0November 6, 2...
37    [tomciccateri(1,033), 🇺🇸Albuquerque, United St...
38    [Papsoe(25,039), 🇩🇰Frederiksberg, Denmark, 2.1...
39    [MrRomero(1,976), 🇺🇸Nolanville, United States,...
Name: beer_info, Length: 83191, dtype: object

In [227]:
# 분리된 스트링 값 확인 -> List로 변환됨
tmp['beer_info'].iloc[0]

['italianjohn(5,276)',
 '🇺🇸Penndel, United States',
 '2.8September 6, 2021',
 'Clear golden blonde pour with a thin white head and spots of lacing …. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon … taste is of the same, lemon, little floral, sweet caramel malts, grape and light bitter citrusy hops …. Drinks bigger than a regular lager …. Definitely see the German ingredients in this brew … sessionable little lager',
 'Show less',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '3',
 'Overall',
 '12']

In [228]:
tmp['beer_info'].iloc[17]

['GIANNISONG(8)',
 '2.0July 20, 2019',
 '돈주고마실때는 저녁회식때일뿐일까',
 '그래도 국산 페일라거중에서는 제일낫다.',
 '홉피함이 약간느껴지는것이 장점.',
 '최근 수입라거,필스너들이 점점 묽어지고있어서 상대적으로 맛있게 느껴짐',
 '',
 '소주에 섞어도 맛있음.',
 'Show less',
 'BOTTLE',
 'Aroma',
 '-',
 'Appearance',
 '-',
 'Flavor',
 '-',
 'Mouthfeel',
 '-',
 'Overall',
 '-']

In [229]:
# 새로운 데이터 프레임 ttmp에 copy()후 전처리
ttmp = tmp.copy()
# 맥주정보 리스트 출력 : 좋아요 수가 기록된 유저 정보
ttmp['beer_info'].iloc[10]

['deanso(15,284)',
 '🇬🇧Doncaster, England',
 '2.3January 16, 2020',
 '33cl can from lucky supermarket, siem reap.',
 'Thin white head.  Clear golden pour. Bland and watery',
 'CASK',
 'Aroma',
 '4',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '3',
 'Overall',
 '9']

# 'Overall' 뒤에 좋아요가 들어간 데이터 삭제

In [230]:
# 전체 데이터프레임에서 좋아요가 1개인 것 찾아서 맨 뒤에 것 삭제
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [231]:
# 맥주정보에서 0,1,2,3번째 리스트 요소와 뒤에서부터 10개의 리스트요소(평점값들)추출
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x : x[:3]+x[:-11:-1])

# 좋아요 수가 정상적으로 삭제됨
ttmp['beer_info'].iloc[0]

['italianjohn(5,276)',
 '🇺🇸Penndel, United States',
 '2.8September 6, 2021',
 '12',
 'Overall',
 '3',
 'Mouthfeel',
 '5',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [232]:
ttmp['beer_info'].iloc[70]

['radagast83(11,719)',
 '🇺🇸Arlington, United States',
 '2.3January 2, 2017',
 '9',
 'Overall',
 '3',
 'Mouthfeel',
 '4',
 'Flavor',
 '3',
 'Appearance',
 '4',
 'Aroma']

# 각 컬럼에 데이터 저장

In [233]:
# 맨 첫번째 리스트 요소에 ID 저장
# 그 뒤로는 뒤에서부터 각 평가값 저장
ttmp['ID'] = ttmp['beer_info'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['beer_info'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['beer_info'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['beer_info'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['beer_info'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['beer_info'].apply(lambda x: x[-10])

# 리스트의 1,2,3번째 요소만(평점날짜 or 이상한 값) 뽑아오기
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x:x[1:4])
#ttmp['길이'] = ttmp['맥주정보'].apply(lambda x:len(x))

# 결과 확인
ttmp.head(3)

,beer_info,검색이름,beer_name,beer_review,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"[🇺🇸Penndel, United States, 2.8September 6, 202...",kloud,Kloud Original Gravity,Clear golden blonde pour with a thin white hea...,"italianjohn(5,276)",5,3,5,3,12
1,"[🇺🇸Aurora, United States, 3.9August 29, 2021, 9]",kloud,Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...,orda(284),10,5,10,5,9
2,"[🇨🇦Toronto (Can) Krotoszyn (Pol), Canada, 2.4J...",kloud,Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s...","Radek Kliber(8,065)",6,3,4,2,9

In [234]:
# 특이점 확인 : 0번째, 1번째, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
for i in range(75252, 75255):
    print(ttmp['beer_info'].iloc[i], '\n\n')

['🇬🇧Edinburgh, Scotland', '3.1April 4, 2013', '12']


['🇺🇸St. Charles, United States', '3.4April 4, 2013', '13']


['🇫🇷Grenoble, France', '3.0April 3, 2013', '14']

In [235]:
# 4.0+알파벳으로 처리된 텍스트를 뽑아내기 위해 정규표현식 사용

import re

# ex) 4.0December 28, 2020 추출
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [236]:
# 정규표현식에 해당하는 문자열과 매칭되는 경우 해당 리스트 요소를 맥주정보에 저장
# reg.match()는 re.compile()의 정규표현식과 일치하는 문자열을 반환, 아니면 False를 반환
# 중첩 삼항 표현식 사용 : https://ooyoung.tistory.com/116

ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

# 결과 확인
ttmp.head()

,beer_info,검색이름,beer_name,beer_review,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Clear golden blonde pour with a thin white hea...,"italianjohn(5,276)",5,3,5,3,12
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...,orda(284),10,5,10,5,9
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s...","Radek Kliber(8,065)",6,3,4,2,9
3,"2.3May 26, 2021",kloud,Kloud Original Gravity,Smell is light of malt...taste is a that malt ...,"geologyguy(2,575)",4,3,4,3,9
4,"1.0February 16, 2021",kloud,Kloud Original Gravity,Rating copied from Untappd. Had while flying A...,Wolff90(203),1,1,1,1,6

In [237]:
# 평점은 0번째부터 3번째, 날짜는 그 이후 문자열로 처리
ttmp['grade'] = ttmp['beer_info'].apply(lambda x : x[:3])
ttmp['date'] = ttmp['beer_info'].apply(lambda x : x[3:])

ttmp.head(3)

,beer_info,검색이름,beer_name,beer_review,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,grade,date
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Clear golden blonde pour with a thin white hea...,"italianjohn(5,276)",5,3,5,3,12,2.8,"September 6, 2021"
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...,orda(284),10,5,10,5,9,3.9,"August 29, 2021"
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s...","Radek Kliber(8,065)",6,3,4,2,9,2.4,"June 5, 2021"

In [238]:
# 컬럼명 변경
#ttmp.columns = ['beer_info', '검색이름', 'beer_name', 'beer_review', 'ID', 'Aroma', 'Appearance',
       #'Flavor', 'Overall', 'grade', 'date']

# 필요한 컬럼만 추출
ttmp = ttmp[['ID', 'beer_name', 'date', 'grade', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'beer_review']]

In [239]:
ttmp.columns

Index(['ID', 'beer_name', 'date', 'grade', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'beer_review'],
      dtype='object')

In [240]:
ttmp

,ID,beer_name,date,grade,Aroma,Appearance,Flavor,Mouthfeel,Overall,beer_review
0,"italianjohn(5,276)",Kloud Original Gravity,"September 6, 2021",2.8,5,3,5,3,12,Clear golden blonde pour with a thin white hea...
1,orda(284),Kloud Original Gravity,"August 29, 2021",3.9,10,5,10,5,9,Appearance: golden amber; slight head\nTaste: ...
2,"Radek Kliber(8,065)",Kloud Original Gravity,"June 5, 2021",2.4,6,3,4,2,9,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s..."
3,"geologyguy(2,575)",Kloud Original Gravity,"May 26, 2021",2.3,4,3,4,3,9,Smell is light of malt...taste is a that malt ...
4,Wolff90(203),Kloud Original Gravity,"February 16, 2021",1.0,1,1,1,1,6,Rating copied from Untappd. Had while flying A...
...,...,...,...,...,...,...,...,...,...,...
35,bourne(161),Cafri,"March 21, 2006",1.3,2,2,3,2,4,I didnt think this was beer when I bought it. ...
36,curvedbeer(11),Cafri,"November 6, 2005",1.0,2,3,1,1,3,Of all of the commercially brewed beers I’ve t...
37,"tomciccateri(1,033)",Cafri,"September 5, 2007",2.2,3,3,4,2,10,"From a can onboard a KAL flight. 4.2%, with no..."
38,"Papsoe(25,039)",Cafri,"June 13, 2005",2.1,5,2,4,2,8,(Bottle 48 cl) Again - for Korea - this beauti...
39,"MrRomero(1,976)",Cafri,"March 21, 2004",1.7,3,2,3,2,7,Probably my favorite Korean beer but not as av...

In [249]:
# grade 이상한 값 확인
ttmp[ttmp['grade'].str.contains('0Oc')]

,ID,beer_name,date,grade,Aroma,Appearance,Flavor,Mouthfeel,Overall,beer_review
174,jann3(820),Berliner Kindl Jubiläums Pilsener Premium,"tober 12, 2022",0Oc,-,-,-,-,-,Revisiting an old acquaintance and updating my...

In [265]:
# grade 이상한 값 확인
ttmp[ttmp['grade'].str.contains('0Ma')]['grade'].index[0]

23078

In [263]:
# index reset
ttmp.reset_index(drop = True, inplace = True)

In [270]:
ttmp.iloc[23078]['grade'] = 0.0

In [267]:
ttmp[ttmp['grade'].str.contains('0Ma')]['grade']

23078    0Ma
Name: grade, dtype: object

In [279]:
ttmp.iloc[ttmp[ttmp['grade'] == '0Oc'].index[0]] = 0.0

In [277]:
ttmp[ttmp['grade'].str.contains('0Oc')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [253]:
ttmp['grade']

0     2.8
1     3.9
2     2.4
3     2.3
4     1.0
     ...
35    1.3
36    1.0
37    2.2
38    2.1
39    1.7
Name: grade, Length: 83191, dtype: object

In [242]:
len(ttmp.grade.unique())

49

In [280]:
ttmp.grade.unique()

array(['2.8', '3.9', '2.4', '2.3', '1.0', '4.0', '2.0', '3.0', '2.9',
       '2.2', '3.2', '2.5', '2.7', '1.5', '3.1', '2.6', '1.7', '1.8',
       '0.5', '1.6', '1.9', '2.1', '0.9', '1.3', '0.8', '1.1', '5.0',
       '0.7', '4.7', '3.3', '1.4', '3.6', '3.4', '3.5', '3.8', '3.7',
       '4.2', '1.2', '4.5', '4.3', '0.6', '4.6', '4.1', '4.4', '4.8',
       '4.9', '15', 0.0], dtype=object)

In [ ]:
ttmp[ttmp['Aroma'].str.contains('Appearance')]

In [244]:
# aroma 이상한 값 확인
ttmp.Aroma.unique()

array(['5', '10', '6', '4', '1', '9', '3', '-', '7', '2', '8'],
      dtype=object)

In [245]:
# flavor 이상한 값 확인
ttmp.Flavor.unique()

array(['5', '10', '4', '1', '7', '6', '-', '2', '3', '8', '9'],
      dtype=object)

In [247]:
# mouthfeel 이상한 값 확인
ttmp.Mouthfeel.unique()

array(['3', '5', '2', '1', '4', '-'], dtype=object)

In [248]:
# overall 이상한 값 확인
ttmp.Overall.unique()

array(['12', '9', '6', '15', '7', '11', '10', '-', '8', '4', '13', '5',
       '1', '3', '14', '20', '2', '16', '17', '18', '19'], dtype=object)

In [281]:
# 세부 리뷰 값이 '-'가 아닌 데이터만 저장
ttmp = ttmp[ttmp['Aroma']!='-']
ttmp = ttmp[ttmp['Appearance']!='-']
ttmp = ttmp[ttmp['Flavor']!='-']
ttmp = ttmp[ttmp['Mouthfeel']!='-']
ttmp = ttmp[ttmp['Overall']!='-']
ttmp[ttmp['Aroma']=='-']

Empty DataFrame
Columns: [ID, beer_name, date, grade, Aroma, Appearance, Flavor, Mouthfeel, Overall, beer_review]
Index: []

In [282]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81853 entries, 0 to 83190
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           81853 non-null  object
 1   beer_name    81853 non-null  object
 2   date         81853 non-null  object
 3   grade        81853 non-null  object
 4   Aroma        81853 non-null  object
 5   Appearance   81853 non-null  object
 6   Flavor       81853 non-null  object
 7   Mouthfeel    81853 non-null  object
 8   Overall      81853 non-null  object
 9   beer_review  81852 non-null  object
dtypes: object(10)
memory usage: 6.9+ MB

In [283]:
# 결측치 확인 
ttmp.isna().sum()

ID             0
beer_name      0
date           0
grade          0
Aroma          0
Appearance     0
Flavor         0
Mouthfeel      0
Overall        0
beer_review    1
dtype: int64

In [285]:
# 결측치 제거 -> 리뷰 데이터 결측치 한개를 'no review'로 수정
ttmp['beer_review']=ttmp['beer_review'].fillna('no review')

In [286]:
# 결측치 확인 
ttmp.isna().sum()

ID             0
beer_name      0
date           0
grade          0
Aroma          0
Appearance     0
Flavor         0
Mouthfeel      0
Overall        0
beer_review    0
dtype: int64

In [287]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81853 entries, 0 to 83190
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           81853 non-null  object
 1   beer_name    81853 non-null  object
 2   date         81853 non-null  object
 3   grade        81853 non-null  object
 4   Aroma        81853 non-null  object
 5   Appearance   81853 non-null  object
 6   Flavor       81853 non-null  object
 7   Mouthfeel    81853 non-null  object
 8   Overall      81853 non-null  object
 9   beer_review  81853 non-null  object
dtypes: object(10)
memory usage: 6.9+ MB

In [288]:
# 수치형 데이터는 실수로 변환 : pd.to_numeric() 함수 사용
ttmp['grade'] = pd.to_numeric(ttmp['grade'])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])
# 중복된 행들을 제거합니다.
ttmp.drop_duplicates(keep='first', inplace=True)

# 최종 데이터 확인
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81853 entries, 0 to 83190
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           81853 non-null  object
 1   beer_name    81853 non-null  object
 2   date         81853 non-null  object
 3   grade        81853 non-null  float64
 4   Aroma        81853 non-null  float64
 5   Appearance   81853 non-null  float64
 6   Flavor       81853 non-null  float64
 7   Mouthfeel    81853 non-null  float64
 8   Overall      81853 non-null  float64
 9   beer_review  81853 non-null  object
dtypes: float64(6), object(4)
memory usage: 6.9+ MB

In [289]:
# 최종 데이터 값 분포 확인
ttmp.describe()

,grade,Aroma,Appearance,Flavor,Mouthfeel,Overall
count,81853.000000,81853.000000,81853.000000,81853.000000,81853.000000,81853.000000
mean,2.705411,5.008137,3.132213,5.327477,2.852712,10.731995
std,0.932549,2.007380,1.043144,1.997430,0.977001,4.239333
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,4.000000,2.000000,4.000000,2.000000,8.000000
50%,2.800000,5.000000,3.000000,5.000000,3.000000,11.000000
75%,3.400000,6.000000,4.000000,7.000000,3.000000,14.000000
max,15.000000,10.000000,5.000000,10.000000,5.000000,20.000000

In [290]:
ttmp.to_csv('pretty_beer_preprocessing.csv', encoding='utf-8')

# 특정 언어 삭제 (영어 en만 남기기)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import urllib.request
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from collections import Counter
from langdetect import detect
from tqdm import tqdm

In [ ]:
df = pd.read_csv('./data/pretty_beer_preprocessing.csv', index_col = 0)

In [ ]:
df

In [ ]:
df.beer_review

In [ ]:
df.beer_review.isnull().sum()

In [ ]:
ans = []
error = []
num = []
for i in tqdm(range(len(df.beer_review))):
    try:
        detected = detect(df.beer_review.iloc[i])
        ans.append(detected)
        num.append(i)
    except:
        error.append(i)

In [ ]:
df2 = pd.DataFrame(ans)
df2

In [ ]:
df2.value_counts()

In [ ]:
ans

In [ ]:
df['lang'] = 0

In [ ]:
df.lang.iloc[error] = 'er'

In [ ]:
df.lang.iloc[num] = ans

In [ ]:
df_fin = df[df.lang == 'en']

In [ ]:
df_fin.to_csv('./data/beer_only_eng.csv')

# 영어만 남긴 전처리 데이터 저장