# í¬ë¡¤ë§ í•œ íŒŒì¼ì„ ë³‘í•©í•˜ì—¬ ë°ì´ì´í„° í”„ë ˆì„ ìƒì„±

 ì´ 87ê°œì˜ ë§¥ì£¼ ë°ì´í„° 
 
 'kloud', 'fitz super clear', 'Asahi super dry', 'Tsingtao', 'Heineken', 'Kirin ichiban', 'Sapporo Premium Beer / Draft Beer', 
 'stella artois', 'guinness braught', '1664 Blanc', 'pilsner urquell', 'San Miguel','OB premier pilsner', 'cass fresh',
 'Hite Black Beer Stout', 'dry finish', 'max hite', 'hite extra cold', 'victoria bitter', 'BINTANG pilsner',
 'krombacher weizen', 'Miller Genuine Draft', 'Hoegaarden Cherry', 'TIGER REDLER',
 "Suntory The Premium Malt's", 'REEPER B Weissbier', 'PEEPER B IPA', 'TIGER BEER',
 'TSINGTAO WHEAT BEER', 'Erdinger Weissbier', 'Carlsberg', 'Budweiser ', 'Hoegaarden',
 'YEBISU', 'Paulaner Hefe-weissbier', 'Desperados', 'Peroni Nastro Azzurro',
 'Edelweiss Snowfresh', 'Heineken Dark Lager', 'Kozel Dark 10', 'Guinness original',
 'Filite', 'SEOULITE ALE', 'JEJU WIT ALE', 'Stephans Brau Philsner', 'Stephans Brau Larger',
 'Stephans BrÃ¤u Hefe-Weizen NaturtrÃ¼b', 'Apostel Brau',
 'Egger Zwickl', 'Egger Marzenbier', 'Holsten Premium Beer', 'Franzisaner Hefe-Weissbier',
 'Egger Radler Grapefruit', 'Barvaria Premium', 'Barvaria 8.6', 'Lapin Kulta IV A',
 'Grolsch Premium Larger', 'Gambrinus Original', 'XXXX Gold', 'Leffe Brown',
 'Lowenbrau Original', 'Asahi Super dray Black ', 'Harbin Beer', "beck's",
 'Hoegaarden Rosee', 'Platinum White Ale', 'Platinum Pale Ale', 'Ambar Especial Larger',
 'SchÃ¶fferhofer Grapefruit', 'Volfas Engelman GrÃ¼nberger Hefeweizen', 'Berliner Kindl Pilsener ',
 'Red Rock', 'Erdinger Dunkel', 'Warsteiner Premium Verum', "Queen's Ale Blonde Type", 'Terra', 
 'Hite Zero', 'HiteJinro Filite Fresh Cool & Clear', 'Cass Light', 'Happoshu Filgood', 
 'Kloud Draft Original Gravity', 'Hite Beer', '7BrÃ¤u Gompyo Wheatbeer', 
 'Moonbear Geumgangsan Golden Ale','Blue Moon Belgian White', 'Heineken Silver', 'Cafri'

In [211]:
import pandas as pd
import numpy as np
import time

import re

In [212]:
# í•©ì¹œ ë°ì´í„°ë¥¼ ì €ì¥í•  ë°ì´í„°í”„ë ˆì„
data = pd.DataFrame(data=[], columns=['beer_info', 'ê²€ìƒ‰ì´ë¦„', 'beer_name', 'beer_review'])

# ìˆ˜ì§‘í•œ íŒŒì¼ì˜ ê°œìˆ˜
files_cnt = 87

for i in range(files_cnt):

    # í•´ë‹¹ ê²½ë¡œì—ì„œ beer_n_1.csv í˜•ì‹ì˜ íŒŒì¼ë“¤ë§Œ ìˆ˜ì§‘í•œ ë’¤ ë³‘í•©í•©ë‹ˆë‹¤.
    try : 
        tmp = pd.read_csv(r'C:\Users\X1Carbon\Desktop\fast_campus\machine_learning\machine_learning_project\beer_review_list\beer_n_'+str(i)+'.csv', index_col=0)
        data = pd.concat([data,tmp])
    # ì˜¤ë¥˜ ë°œìƒ ì‹œ ë„˜ì–´ê°‘ë‹ˆë‹¤.
    except :
        print(i, 'ë²ˆì§¸ì—ì„œ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤. ë‹¤ìŒ íŒŒì¼ë¡œ ë„˜ì–´ê°‘ë‹ˆë‹¤.')

# í•©ì¹œ ë°ì´í„°ë¥¼ ì €ì¥í•©ë‹ˆë‹¤.
data.to_csv('beer_crawling_merge.csv', encoding='utf-8')

In [213]:
# í•©ì¹œ ë°ì´í„° í™•ì¸
data = pd.read_csv('beer_crawling_merge.csv', encoding='utf-8', index_col=0)

data = data[['beer_info', 'beer_name', 'beer_review']]

data.head(10)

,beer_info,beer_name,beer_review
0,"italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...",Kloud Original Gravity,Clear golden blonde pour with a thin white hea...
1,"orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...",Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...
2,"Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...",Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s..."
3,"geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...",Kloud Original Gravity,Smell is light of malt...taste is a that malt ...
4,"Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...",Kloud Original Gravity,Rating copied from Untappd. Had while flying A...
5,"patjenner(3)\n4.0December 31, 2020\nStrong hop...",Kloud Original Gravity,Strong hoppy flavor. Bavarian style. Ok but no...
6,"pictoman(4,945)\nğŸ‡¨ğŸ‡¦Vancouver, Canada\n2.0April...",Kloud Original Gravity,Poured from 330mL bottle. Clear gold with whit...
7,"snoworsummer(9,480)\nğŸ‡ºğŸ‡¸baltimore, United State...",Kloud Original Gravity,"Bottle. Tastes like dough, corn, grass, smooth..."
8,"mickmac(743)\nğŸ‡¦ğŸ‡ºNgunnawal, Australia\n2.9Febru...",Kloud Original Gravity,Pours with a brilliant clear gold body and a m...
9,"GuideDogSaint(3,189)\nğŸ‡¨ğŸ‡³Xiamen, China\n2.2Febr...",Kloud Original Gravity,Small can from a supermarket in Phnom Penh. Po...

In [215]:
data.tail(30)

,beer_info,beer_name,beer_review
10,"maxwelldeux(4,373)\nğŸ‡ºğŸ‡¸Snohomish, United States...",Cafri,"This is, in fact, beer, which is the best thin..."
11,"FatPhil(23,303)\nğŸ‡ªğŸ‡ªTallinn, Estonia\n1.2May 25...",Cafri,"330ml clear bottle (Anywhere, Suwon)\n\nSweet ..."
12,"AndreasJaeger(505)\nğŸ‡¸ğŸ‡ªMalmÃ¶, Sweden\n1.4Februa...",Cafri,Vattnigt gul i fÃ¤rgen med luftigt vitt skum. T...
13,"Bart(2,934)\nğŸ‡§ğŸ‡ªBrussels, Belgium\n2.3September...",Cafri,355ml Canned. Golden blond coloured beer with ...
14,"strap(981)\nğŸ‡©ğŸ‡ªSindelfingen, Germany\n1.9July 1...",Cafri,"Typical Korean beer. Very pale colored, weak o..."
15,"Pyobon(2,468)\nğŸ‡¦ğŸ‡ºSydney, Australia\n1.9July 12...",Cafri,(bottle) Poured pale straw with no head. Aroma...
16,"WVHouseofBeer(1,152)\nğŸ‡ºğŸ‡¸United States\n1.6Marc...",Cafri,Eh exactly the same as all the other Korean pa...
17,"BaroneBirra(534)\nğŸ‡®ğŸ‡¹Gorizia, Italy\n2.3January...",Cafri,"0,33 bottle from Seoul.\nPale gold, very clear..."
18,"Palme(5,036)\nğŸ‡³ğŸ‡´Bergen, Norway\n1.5December 28...",Cafri,"0.33l bottle @ Hyundai Hotel, Ulsan South Kore..."
19,azuritko6(10)\nğŸ‡ºğŸ‡¸United States\n3.2December 14...,Cafri,Can. Velmi zaujimavo vonia akoby kvasinkove. v...
20,"KyotoLefty(14,503)\nğŸ‡¯ğŸ‡µKyoto, Japan\n2.0Decembe...",Cafri,"Fresh Bottle. Fruity nose, light malt, some gr..."
21,"Bierkrug(2,129)\n0.7November 18, 2011\n330 ml ...",Cafri,"330 ml bottle picked up in Sulaymaniyah, Iraq...."
22,"SHIG(11,265)\nğŸ‡ºğŸ‡¸Hampton, United States\n2.1May...",Cafri,Can: Poured a golden color with a fast evapora...
23,"robforbes(2,437)\nğŸ‡ºğŸ‡¸Bremerton, United States\n...",Cafri,one of the better pale lagers in south korea. ...
24,"BelgianBeerGal(5,817)\nğŸ‡ºğŸ‡¸Panama City, United S...",Cafri,33cl can in Seoul. Decoration on label makes i...
25,"Wal(5)\nğŸ‡©ğŸ‡ªBerlin, Germany\n0.8September 4, 200...",Cafri,Lived in Korea 5 years and I really tried hard...
26,"brewssuds(17)\nğŸ‡¨ğŸ‡¦Canada\n1.9August 24, 2008\nU...",Cafri,Unremarkable. Pretty generic macro lager (and ...
27,"patrick767(6,028)\nğŸ‡ºğŸ‡¸fort wayne, United States...",Cafri,"bottle - Hey, it says this beer inspires young..."
28,"jerryballoono(32)\nğŸ‡¹ğŸ‡·Urgup, Turkey\n1.7Decembe...",Cafri,Almost thought my 330ml bottle was off as unus...
29,"ultraspank(867)\nğŸ‡µğŸ‡¹Alverca, Lisboa, Portugal\n...",Cafri,Had this while satisfying the Itis at Hoolala ...
30,"Gethinbeer(2,451)\nğŸ‡¨ğŸ‡¦Canada\n1.8April 18, 2007...",Cafri,From bottle. When I drank this I must say I th...
31,"Sully(1,380)\nğŸ‡¦ğŸ‡ºPotts Point, New South Wales, ...",Cafri,Found this in a Korean mini-market in Kuala Lu...
32,"rolickstamp293(14,100)\nğŸ‡«ğŸ‡¯Fiji Islands\n1.9Jan...",Cafri,Bottle with 4.2% alc. bought in Seoul. Golden ...
33,"Sanchex(224)\nğŸ‡¨ğŸ‡¦Toronto, Canada\n1.4September ...",Cafri,"Worst ""premium"" beer Iâ€™ve tasted. All marketi..."
34,"larsga(7,693)\nğŸ‡³ğŸ‡´Oslo, Norway\n1.7June 7, 2006...",Cafri,Thin coarse white head over very pale yellow b...
35,"bourne(161)\nğŸ‡°ğŸ‡·Suwon, South Korea\n1.3March 21...",Cafri,I didnt think this was beer when I bought it. ...
36,"curvedbeer(11)\nğŸ‡¸ğŸ‡¬Singapore\n1.0November 6, 20...",Cafri,Of all of the commercially brewed beers Iâ€™ve t...
37,"tomciccateri(1,033)\nğŸ‡ºğŸ‡¸Albuquerque, United Sta...",Cafri,"From a can onboard a KAL flight. 4.2%, with no..."
38,"Papsoe(25,039)\nğŸ‡©ğŸ‡°Frederiksberg, Denmark\n2.1J...",Cafri,(Bottle 48 cl) Again - for Korea - this beauti...
39,"MrRomero(1,976)\nğŸ‡ºğŸ‡¸Nolanville, United States\n...",Cafri,Probably my favorite Korean beer but not as av...

# ë°ì´í„° ì •ë³´ í™•ì¸ í›„ null ê°’ ì²˜ë¦¬

In [216]:
# ë°ì´í„° ì •ë³´ í™•ì¸
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83191 entries, 0 to 39
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   beer_info    83191 non-null  object
 1   beer_name    83191 non-null  object
 2   beer_review  83190 non-null  object
dtypes: object(3)
memory usage: 2.5+ MB

# ê²°ì¸¡ì¹˜ í™•ì¸ 
data.isna().sum()

In [221]:
# ê²°ì¸¡ì¹˜ ì œê±°
data['beer_review']=data['beer_review'].fillna('no review')

# 'beer_info' ë°ì´í„° ê°’ í™•ì¸ í›„ \n ë¬¸ì ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬

ì´ë•Œ 'beer_info'ì— ë“¤ì–´ìˆëŠ” ë¦¬ë·°ë°ì´í„° ë˜í•œ \n ë¬¸ìë¥¼ ê¸°ì¤€ì„ ë¶„ë¦¬ë˜ì–´, ë¦¬ë·° ë°ì´í„°ëŠ” ë”°ë¡œ í¬ë¡¤ë§ í›„ joinì„ í†µí•´ í•©ì¹œ ë°ì´í„°ë¥¼ ì‚¬ìš©

In [225]:
import pandas as pd

data = pd.read_csv('beer_crawling_merge.csv', encoding='utf-8', index_col=0)

# ë§¥ì£¼ì •ë³´ Raw ë°ì´í„°ê°’
data['beer_info'].iloc[0]

'italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n2.8September 6, 2021\nClear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of the same, lemon, little floral, sweet caramel malts, grape and light bitter citrusy hops â€¦. Drinks bigger than a regular lager â€¦. Definitely see the German ingredients in this brew â€¦ sessionable little lager\nShow less\nBOTTLE\nAroma\n5\nAppearance\n3\nFlavor\n5\nMouthfeel\n3\nOverall\n12'

In [226]:
# tmp ë³€ìˆ˜ì— ì¹´í”¼
tmp = data.copy()

# \n ê°œí–‰ë¬¸ì ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬
tmp['beer_info'] = tmp['beer_info'].str.split('\n')
tmp['beer_info']

0     [italianjohn(5,276), ğŸ‡ºğŸ‡¸Penndel, United States,...
1     [orda(284), ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August...
2     [Radek Kliber(8,065), ğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszy...
3     [geologyguy(2,575), ğŸ‡ºğŸ‡¸Columbia, United States,...
4     [Wolff90(203), ğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden, 1.0Fe...
                            ...
35    [bourne(161), ğŸ‡°ğŸ‡·Suwon, South Korea, 1.3March 2...
36    [curvedbeer(11), ğŸ‡¸ğŸ‡¬Singapore, 1.0November 6, 2...
37    [tomciccateri(1,033), ğŸ‡ºğŸ‡¸Albuquerque, United St...
38    [Papsoe(25,039), ğŸ‡©ğŸ‡°Frederiksberg, Denmark, 2.1...
39    [MrRomero(1,976), ğŸ‡ºğŸ‡¸Nolanville, United States,...
Name: beer_info, Length: 83191, dtype: object

In [227]:
# ë¶„ë¦¬ëœ ìŠ¤íŠ¸ë§ ê°’ í™•ì¸ -> Listë¡œ ë³€í™˜ë¨
tmp['beer_info'].iloc[0]

['italianjohn(5,276)',
 'ğŸ‡ºğŸ‡¸Penndel, United States',
 '2.8September 6, 2021',
 'Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of the same, lemon, little floral, sweet caramel malts, grape and light bitter citrusy hops â€¦. Drinks bigger than a regular lager â€¦. Definitely see the German ingredients in this brew â€¦ sessionable little lager',
 'Show less',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '3',
 'Overall',
 '12']

In [228]:
tmp['beer_info'].iloc[17]

['GIANNISONG(8)',
 '2.0July 20, 2019',
 'ëˆì£¼ê³ ë§ˆì‹¤ë•ŒëŠ” ì €ë…íšŒì‹ë•Œì¼ë¿ì¼ê¹Œ',
 'ê·¸ë˜ë„ êµ­ì‚° í˜ì¼ë¼ê±°ì¤‘ì—ì„œëŠ” ì œì¼ë‚«ë‹¤.',
 'í™‰í”¼í•¨ì´ ì•½ê°„ëŠê»´ì§€ëŠ”ê²ƒì´ ì¥ì .',
 'ìµœê·¼ ìˆ˜ì…ë¼ê±°,í•„ìŠ¤ë„ˆë“¤ì´ ì ì  ë¬½ì–´ì§€ê³ ìˆì–´ì„œ ìƒëŒ€ì ìœ¼ë¡œ ë§›ìˆê²Œ ëŠê»´ì§',
 '',
 'ì†Œì£¼ì— ì„ì–´ë„ ë§›ìˆìŒ.',
 'Show less',
 'BOTTLE',
 'Aroma',
 '-',
 'Appearance',
 '-',
 'Flavor',
 '-',
 'Mouthfeel',
 '-',
 'Overall',
 '-']

In [229]:
# ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ ttmpì— copy()í›„ ì „ì²˜ë¦¬
ttmp = tmp.copy()
# ë§¥ì£¼ì •ë³´ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ : ì¢‹ì•„ìš” ìˆ˜ê°€ ê¸°ë¡ëœ ìœ ì € ì •ë³´
ttmp['beer_info'].iloc[10]

['deanso(15,284)',
 'ğŸ‡¬ğŸ‡§Doncaster, England',
 '2.3January 16, 2020',
 '33cl can from lucky supermarket, siem reap.',
 'Thin white head.  Clear golden pour. Bland and watery',
 'CASK',
 'Aroma',
 '4',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '3',
 'Overall',
 '9']

# 'Overall' ë’¤ì— ì¢‹ì•„ìš”ê°€ ë“¤ì–´ê°„ ë°ì´í„° ì‚­ì œ

In [230]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ì¢‹ì•„ìš”ê°€ 1ê°œì¸ ê²ƒ ì°¾ì•„ì„œ ë§¨ ë’¤ì— ê²ƒ ì‚­ì œ
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [231]:
# ë§¥ì£¼ì •ë³´ì—ì„œ 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì™€ ë’¤ì—ì„œë¶€í„° 10ê°œì˜ ë¦¬ìŠ¤íŠ¸ìš”ì†Œ(í‰ì ê°’ë“¤)ì¶”ì¶œ
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x : x[:3]+x[:-11:-1])

# ì¢‹ì•„ìš” ìˆ˜ê°€ ì •ìƒì ìœ¼ë¡œ ì‚­ì œë¨
ttmp['beer_info'].iloc[0]

['italianjohn(5,276)',
 'ğŸ‡ºğŸ‡¸Penndel, United States',
 '2.8September 6, 2021',
 '12',
 'Overall',
 '3',
 'Mouthfeel',
 '5',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [232]:
ttmp['beer_info'].iloc[70]

['radagast83(11,719)',
 'ğŸ‡ºğŸ‡¸Arlington, United States',
 '2.3January 2, 2017',
 '9',
 'Overall',
 '3',
 'Mouthfeel',
 '4',
 'Flavor',
 '3',
 'Appearance',
 '4',
 'Aroma']

# ê° ì»¬ëŸ¼ì— ë°ì´í„° ì €ì¥

In [233]:
# ë§¨ ì²«ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì— ID ì €ì¥
# ê·¸ ë’¤ë¡œëŠ” ë’¤ì—ì„œë¶€í„° ê° í‰ê°€ê°’ ì €ì¥
ttmp['ID'] = ttmp['beer_info'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['beer_info'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['beer_info'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['beer_info'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['beer_info'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['beer_info'].apply(lambda x: x[-10])

# ë¦¬ìŠ¤íŠ¸ì˜ 1,2,3ë²ˆì§¸ ìš”ì†Œë§Œ(í‰ì ë‚ ì§œ or ì´ìƒí•œ ê°’) ë½‘ì•„ì˜¤ê¸°
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x:x[1:4])
#ttmp['ê¸¸ì´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:len(x))

# ê²°ê³¼ í™•ì¸
ttmp.head(3)

,beer_info,ê²€ìƒ‰ì´ë¦„,beer_name,beer_review,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"[ğŸ‡ºğŸ‡¸Penndel, United States, 2.8September 6, 202...",kloud,Kloud Original Gravity,Clear golden blonde pour with a thin white hea...,"italianjohn(5,276)",5,3,5,3,12
1,"[ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August 29, 2021, 9]",kloud,Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...,orda(284),10,5,10,5,9
2,"[ğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn (Pol), Canada, 2.4J...",kloud,Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s...","Radek Kliber(8,065)",6,3,4,2,9

In [234]:
# íŠ¹ì´ì  í™•ì¸ : 0ë²ˆì§¸, 1ë²ˆì§¸, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
for i in range(75252, 75255):
    print(ttmp['beer_info'].iloc[i], '\n\n')

['ğŸ‡¬ğŸ‡§Edinburgh, Scotland', '3.1April 4, 2013', '12']


['ğŸ‡ºğŸ‡¸St. Charles, United States', '3.4April 4, 2013', '13']


['ğŸ‡«ğŸ‡·Grenoble, France', '3.0April 3, 2013', '14']

In [235]:
# 4.0+ì•ŒíŒŒë²³ìœ¼ë¡œ ì²˜ë¦¬ëœ í…ìŠ¤íŠ¸ë¥¼ ë½‘ì•„ë‚´ê¸° ìœ„í•´ ì •ê·œí‘œí˜„ì‹ ì‚¬ìš©

import re

# ex) 4.0December 28, 2020 ì¶”ì¶œ
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [236]:
# ì •ê·œí‘œí˜„ì‹ì— í•´ë‹¹í•˜ëŠ” ë¬¸ìì—´ê³¼ ë§¤ì¹­ë˜ëŠ” ê²½ìš° í•´ë‹¹ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œë¥¼ ë§¥ì£¼ì •ë³´ì— ì €ì¥
# reg.match()ëŠ” re.compile()ì˜ ì •ê·œí‘œí˜„ì‹ê³¼ ì¼ì¹˜í•˜ëŠ” ë¬¸ìì—´ì„ ë°˜í™˜, ì•„ë‹ˆë©´ Falseë¥¼ ë°˜í™˜
# ì¤‘ì²© ì‚¼í•­ í‘œí˜„ì‹ ì‚¬ìš© : https://ooyoung.tistory.com/116

ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

# ê²°ê³¼ í™•ì¸
ttmp.head()

,beer_info,ê²€ìƒ‰ì´ë¦„,beer_name,beer_review,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Clear golden blonde pour with a thin white hea...,"italianjohn(5,276)",5,3,5,3,12
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...,orda(284),10,5,10,5,9
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s...","Radek Kliber(8,065)",6,3,4,2,9
3,"2.3May 26, 2021",kloud,Kloud Original Gravity,Smell is light of malt...taste is a that malt ...,"geologyguy(2,575)",4,3,4,3,9
4,"1.0February 16, 2021",kloud,Kloud Original Gravity,Rating copied from Untappd. Had while flying A...,Wolff90(203),1,1,1,1,6

In [237]:
# í‰ì ì€ 0ë²ˆì§¸ë¶€í„° 3ë²ˆì§¸, ë‚ ì§œëŠ” ê·¸ ì´í›„ ë¬¸ìì—´ë¡œ ì²˜ë¦¬
ttmp['grade'] = ttmp['beer_info'].apply(lambda x : x[:3])
ttmp['date'] = ttmp['beer_info'].apply(lambda x : x[3:])

ttmp.head(3)

,beer_info,ê²€ìƒ‰ì´ë¦„,beer_name,beer_review,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,grade,date
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Clear golden blonde pour with a thin white hea...,"italianjohn(5,276)",5,3,5,3,12,2.8,"September 6, 2021"
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Appearance: golden amber; slight head\nTaste: ...,orda(284),10,5,10,5,9,3.9,"August 29, 2021"
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s...","Radek Kliber(8,065)",6,3,4,2,9,2.4,"June 5, 2021"

In [238]:
# ì»¬ëŸ¼ëª… ë³€ê²½
#ttmp.columns = ['beer_info', 'ê²€ìƒ‰ì´ë¦„', 'beer_name', 'beer_review', 'ID', 'Aroma', 'Appearance',
       #'Flavor', 'Overall', 'grade', 'date']

# í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
ttmp = ttmp[['ID', 'beer_name', 'date', 'grade', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'beer_review']]

In [239]:
ttmp.columns

Index(['ID', 'beer_name', 'date', 'grade', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'beer_review'],
      dtype='object')

In [240]:
ttmp

,ID,beer_name,date,grade,Aroma,Appearance,Flavor,Mouthfeel,Overall,beer_review
0,"italianjohn(5,276)",Kloud Original Gravity,"September 6, 2021",2.8,5,3,5,3,12,Clear golden blonde pour with a thin white hea...
1,orda(284),Kloud Original Gravity,"August 29, 2021",3.9,10,5,10,5,9,Appearance: golden amber; slight head\nTaste: ...
2,"Radek Kliber(8,065)",Kloud Original Gravity,"June 5, 2021",2.4,6,3,4,2,9,"Bottle 330 ml \n\nAroma: nice, fresh, on dry s..."
3,"geologyguy(2,575)",Kloud Original Gravity,"May 26, 2021",2.3,4,3,4,3,9,Smell is light of malt...taste is a that malt ...
4,Wolff90(203),Kloud Original Gravity,"February 16, 2021",1.0,1,1,1,1,6,Rating copied from Untappd. Had while flying A...
...,...,...,...,...,...,...,...,...,...,...
35,bourne(161),Cafri,"March 21, 2006",1.3,2,2,3,2,4,I didnt think this was beer when I bought it. ...
36,curvedbeer(11),Cafri,"November 6, 2005",1.0,2,3,1,1,3,Of all of the commercially brewed beers Iâ€™ve t...
37,"tomciccateri(1,033)",Cafri,"September 5, 2007",2.2,3,3,4,2,10,"From a can onboard a KAL flight. 4.2%, with no..."
38,"Papsoe(25,039)",Cafri,"June 13, 2005",2.1,5,2,4,2,8,(Bottle 48 cl) Again - for Korea - this beauti...
39,"MrRomero(1,976)",Cafri,"March 21, 2004",1.7,3,2,3,2,7,Probably my favorite Korean beer but not as av...

In [249]:
# grade ì´ìƒí•œ ê°’ í™•ì¸
ttmp[ttmp['grade'].str.contains('0Oc')]

,ID,beer_name,date,grade,Aroma,Appearance,Flavor,Mouthfeel,Overall,beer_review
174,jann3(820),Berliner Kindl JubilÃ¤ums Pilsener Premium,"tober 12, 2022",0Oc,-,-,-,-,-,Revisiting an old acquaintance and updating my...

In [265]:
# grade ì´ìƒí•œ ê°’ í™•ì¸
ttmp[ttmp['grade'].str.contains('0Ma')]['grade'].index[0]

23078

In [263]:
# index reset
ttmp.reset_index(drop = True, inplace = True)

In [270]:
ttmp.iloc[23078]['grade'] = 0.0

In [267]:
ttmp[ttmp['grade'].str.contains('0Ma')]['grade']

23078    0Ma
Name: grade, dtype: object

In [279]:
ttmp.iloc[ttmp[ttmp['grade'] == '0Oc'].index[0]] = 0.0

In [277]:
ttmp[ttmp['grade'].str.contains('0Oc')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [253]:
ttmp['grade']

0     2.8
1     3.9
2     2.4
3     2.3
4     1.0
     ...
35    1.3
36    1.0
37    2.2
38    2.1
39    1.7
Name: grade, Length: 83191, dtype: object

In [242]:
len(ttmp.grade.unique())

49

In [280]:
ttmp.grade.unique()

array(['2.8', '3.9', '2.4', '2.3', '1.0', '4.0', '2.0', '3.0', '2.9',
       '2.2', '3.2', '2.5', '2.7', '1.5', '3.1', '2.6', '1.7', '1.8',
       '0.5', '1.6', '1.9', '2.1', '0.9', '1.3', '0.8', '1.1', '5.0',
       '0.7', '4.7', '3.3', '1.4', '3.6', '3.4', '3.5', '3.8', '3.7',
       '4.2', '1.2', '4.5', '4.3', '0.6', '4.6', '4.1', '4.4', '4.8',
       '4.9', '15', 0.0], dtype=object)

In [ ]:
ttmp[ttmp['Aroma'].str.contains('Appearance')]

In [244]:
# aroma ì´ìƒí•œ ê°’ í™•ì¸
ttmp.Aroma.unique()

array(['5', '10', '6', '4', '1', '9', '3', '-', '7', '2', '8'],
      dtype=object)

In [245]:
# flavor ì´ìƒí•œ ê°’ í™•ì¸
ttmp.Flavor.unique()

array(['5', '10', '4', '1', '7', '6', '-', '2', '3', '8', '9'],
      dtype=object)

In [247]:
# mouthfeel ì´ìƒí•œ ê°’ í™•ì¸
ttmp.Mouthfeel.unique()

array(['3', '5', '2', '1', '4', '-'], dtype=object)

In [248]:
# overall ì´ìƒí•œ ê°’ í™•ì¸
ttmp.Overall.unique()

array(['12', '9', '6', '15', '7', '11', '10', '-', '8', '4', '13', '5',
       '1', '3', '14', '20', '2', '16', '17', '18', '19'], dtype=object)

In [281]:
# ì„¸ë¶€ ë¦¬ë·° ê°’ì´ '-'ê°€ ì•„ë‹Œ ë°ì´í„°ë§Œ ì €ì¥
ttmp = ttmp[ttmp['Aroma']!='-']
ttmp = ttmp[ttmp['Appearance']!='-']
ttmp = ttmp[ttmp['Flavor']!='-']
ttmp = ttmp[ttmp['Mouthfeel']!='-']
ttmp = ttmp[ttmp['Overall']!='-']
ttmp[ttmp['Aroma']=='-']

Empty DataFrame
Columns: [ID, beer_name, date, grade, Aroma, Appearance, Flavor, Mouthfeel, Overall, beer_review]
Index: []

In [282]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81853 entries, 0 to 83190
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           81853 non-null  object
 1   beer_name    81853 non-null  object
 2   date         81853 non-null  object
 3   grade        81853 non-null  object
 4   Aroma        81853 non-null  object
 5   Appearance   81853 non-null  object
 6   Flavor       81853 non-null  object
 7   Mouthfeel    81853 non-null  object
 8   Overall      81853 non-null  object
 9   beer_review  81852 non-null  object
dtypes: object(10)
memory usage: 6.9+ MB

In [283]:
# ê²°ì¸¡ì¹˜ í™•ì¸ 
ttmp.isna().sum()

ID             0
beer_name      0
date           0
grade          0
Aroma          0
Appearance     0
Flavor         0
Mouthfeel      0
Overall        0
beer_review    1
dtype: int64

In [285]:
# ê²°ì¸¡ì¹˜ ì œê±° -> ë¦¬ë·° ë°ì´í„° ê²°ì¸¡ì¹˜ í•œê°œë¥¼ 'no review'ë¡œ ìˆ˜ì •
ttmp['beer_review']=ttmp['beer_review'].fillna('no review')

In [286]:
# ê²°ì¸¡ì¹˜ í™•ì¸ 
ttmp.isna().sum()

ID             0
beer_name      0
date           0
grade          0
Aroma          0
Appearance     0
Flavor         0
Mouthfeel      0
Overall        0
beer_review    0
dtype: int64

In [287]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81853 entries, 0 to 83190
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           81853 non-null  object
 1   beer_name    81853 non-null  object
 2   date         81853 non-null  object
 3   grade        81853 non-null  object
 4   Aroma        81853 non-null  object
 5   Appearance   81853 non-null  object
 6   Flavor       81853 non-null  object
 7   Mouthfeel    81853 non-null  object
 8   Overall      81853 non-null  object
 9   beer_review  81853 non-null  object
dtypes: object(10)
memory usage: 6.9+ MB

In [288]:
# ìˆ˜ì¹˜í˜• ë°ì´í„°ëŠ” ì‹¤ìˆ˜ë¡œ ë³€í™˜ : pd.to_numeric() í•¨ìˆ˜ ì‚¬ìš©
ttmp['grade'] = pd.to_numeric(ttmp['grade'])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])
# ì¤‘ë³µëœ í–‰ë“¤ì„ ì œê±°í•©ë‹ˆë‹¤.
ttmp.drop_duplicates(keep='first', inplace=True)

# ìµœì¢… ë°ì´í„° í™•ì¸
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81853 entries, 0 to 83190
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           81853 non-null  object
 1   beer_name    81853 non-null  object
 2   date         81853 non-null  object
 3   grade        81853 non-null  float64
 4   Aroma        81853 non-null  float64
 5   Appearance   81853 non-null  float64
 6   Flavor       81853 non-null  float64
 7   Mouthfeel    81853 non-null  float64
 8   Overall      81853 non-null  float64
 9   beer_review  81853 non-null  object
dtypes: float64(6), object(4)
memory usage: 6.9+ MB

In [289]:
# ìµœì¢… ë°ì´í„° ê°’ ë¶„í¬ í™•ì¸
ttmp.describe()

,grade,Aroma,Appearance,Flavor,Mouthfeel,Overall
count,81853.000000,81853.000000,81853.000000,81853.000000,81853.000000,81853.000000
mean,2.705411,5.008137,3.132213,5.327477,2.852712,10.731995
std,0.932549,2.007380,1.043144,1.997430,0.977001,4.239333
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,4.000000,2.000000,4.000000,2.000000,8.000000
50%,2.800000,5.000000,3.000000,5.000000,3.000000,11.000000
75%,3.400000,6.000000,4.000000,7.000000,3.000000,14.000000
max,15.000000,10.000000,5.000000,10.000000,5.000000,20.000000

In [290]:
ttmp.to_csv('pretty_beer_preprocessing.csv', encoding='utf-8')

# íŠ¹ì • ì–¸ì–´ ì‚­ì œ (ì˜ì–´ enë§Œ ë‚¨ê¸°ê¸°)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import urllib.request
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from collections import Counter
from langdetect import detect
from tqdm import tqdm

In [ ]:
df = pd.read_csv('./data/pretty_beer_preprocessing.csv', index_col = 0)

In [ ]:
df

In [ ]:
df.beer_review

In [ ]:
df.beer_review.isnull().sum()

In [ ]:
ans = []
error = []
num = []
for i in tqdm(range(len(df.beer_review))):
    try:
        detected = detect(df.beer_review.iloc[i])
        ans.append(detected)
        num.append(i)
    except:
        error.append(i)

In [ ]:
df2 = pd.DataFrame(ans)
df2

In [ ]:
df2.value_counts()

In [ ]:
ans

In [ ]:
df['lang'] = 0

In [ ]:
df.lang.iloc[error] = 'er'

In [ ]:
df.lang.iloc[num] = ans

In [ ]:
df_fin = df[df.lang == 'en']

In [ ]:
df_fin.to_csv('./data/beer_only_eng.csv')

# ì˜ì–´ë§Œ ë‚¨ê¸´ ì „ì²˜ë¦¬ ë°ì´í„° ì €ì¥